# Salary Predictions Based on Job Descriptions

# Part 1 - DEFINE

### ---- 1 Define the problem ----

Make accurate salary preditctions for new job postings that are based on known salaries so the company is able to recruit and retain top talent while controlling payroll expenses.

In [2]:
#import your libraries
import pandas as pd
import sklearn as sk
import matplotlib.pylab as plt
import numpy as np
#etc

#your info here
__author__ = "Dominick DiTucci"
__email__ = "djditucci@gmail.com "

## Part 2 - DISCOVER

### ---- 2 Load the data ----

In [3]:
#load the data into a Pandas dataframe

test_features = '/Users/DJ/Salary-Prediction-Portfolio/data/test_features.csv'
train_features = '/Users/DJ/Salary-Prediction-Portfolio/data/train_features.csv'
train_salaries = '/Users/DJ/Salary-Prediction-Portfolio/data/train_salaries.csv'

test_featuresDF = pd.read_csv(test_features)
train_featuresDF = pd.read_csv(train_features)
train_salariesDF = pd.read_csv(train_salaries)

In [4]:
# View all columns headers
print(test_featuresDF.columns)
print(train_featuresDF.columns)
print(train_salariesDF.columns)

Index(['jobId', 'companyId', 'jobType', 'degree', 'major', 'industry',
       'yearsExperience', 'milesFromMetropolis'],
      dtype='object')
Index(['jobId', 'companyId', 'jobType', 'degree', 'major', 'industry',
       'yearsExperience', 'milesFromMetropolis'],
      dtype='object')
Index(['jobId', 'salary'], dtype='object')

### ---- 3 Clean the data ----

In [5]:
# look for duplicate data, invalid data (e.g. salaries <=0), or corrupt data and remove it

# check for missing data in test_featuresDF

missing_test_featuresDF = test_featuresDF.isnull()

for column in missing_test_featuresDF.columns.values.tolist():
    print(column)
    print(missing_test_featuresDF[column].value_counts())
    print("")

jobId
False    1000000
Name: jobId, dtype: int64

companyId
False    1000000
Name: companyId, dtype: int64

jobType
False    1000000
Name: jobType, dtype: int64

degree
False    1000000
Name: degree, dtype: int64

major
False    1000000
Name: major, dtype: int64

industry
False    1000000
Name: industry, dtype: int64

yearsExperience
False    1000000
Name: yearsExperience, dtype: int64

milesFromMetropolis
False    1000000
Name: milesFromMetropolis, dtype: int64

In [6]:
# Check top 5 rows of test_featuresDF
print("The first 5 rows of test_featuresDF:")
test_featuresDF.head()

The first 5 rows of test_featuresDF:

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
0,JOB1362685407687,COMP33,MANAGER,HIGH_SCHOOL,NONE,HEALTH,22,73
1,JOB1362685407688,COMP13,JUNIOR,NONE,NONE,AUTO,20,47
2,JOB1362685407689,COMP10,CTO,MASTERS,BIOLOGY,HEALTH,17,9
3,JOB1362685407690,COMP21,MANAGER,HIGH_SCHOOL,NONE,OIL,14,96
4,JOB1362685407691,COMP36,JUNIOR,DOCTORAL,BIOLOGY,OIL,10,44

In [7]:
# Check shape of test_featuresDF
print('The shape of test_featuresDF is: ', test_featuresDF.shape)

The shape of test_featuresDF is:  (1000000, 8)

In [8]:
# check for missing data in train_featuresDF

missing_train_featuresDF = train_featuresDF.isnull()

for column in missing_train_featuresDF.columns.values.tolist():
    print(column)
    print(missing_train_featuresDF[column].value_counts())
    print("")

jobId
False    1000000
Name: jobId, dtype: int64

companyId
False    1000000
Name: companyId, dtype: int64

jobType
False    1000000
Name: jobType, dtype: int64

degree
False    1000000
Name: degree, dtype: int64

major
False    1000000
Name: major, dtype: int64

industry
False    1000000
Name: industry, dtype: int64

yearsExperience
False    1000000
Name: yearsExperience, dtype: int64

milesFromMetropolis
False    1000000
Name: milesFromMetropolis, dtype: int64

In [9]:
# Check top 5 rows of train_featuresDF
print("The first 5 rows of train_featuresDF:")
train_featuresDF.head()

The first 5 rows of train_featuresDF:

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16

In [10]:
# Check shape of train_featuresDF
print('The shape of train_featuresDF is: ', train_featuresDF.shape)

The shape of train_featuresDF is:  (1000000, 8)

In [11]:
# check for missing data in train_salariesDF

missing_train_salariesDF = train_salariesDF.isnull()

for column in missing_train_salariesDF.columns.values.tolist():
    print(column)
    print(missing_train_salariesDF[column].value_counts())
    print("")

jobId
False    1000000
Name: jobId, dtype: int64

salary
False    1000000
Name: salary, dtype: int64

In [12]:
# Check shape of train_salariesDF before deleting values
print('The shape of train_salariesDF is:', train_salariesDF.shape)

The shape of train_salariesDF is: (1000000, 2)

In [13]:
# Check top 5 rows of train_salariesDF
print("The first 5 rows of train_salariesDF:")
train_salariesDF.head()

The first 5 rows of train_salariesDF:

              jobId  salary
0  JOB1362684407687     130
1  JOB1362684407688     101
2  JOB1362684407689     137
3  JOB1362684407690     142
4  JOB1362684407691     163

In [15]:
# train_salariesDF and train__featuresDF have overlapping data, so they can be merged

train_data_merged = pd.merge(train_salariesDF, train_featuresDF, on = 'jobId')

# Check shape of merged data
print("The shape of train_data_merged is:",  train_data_merged.shape)

The shape of train_data_merged is: (1000000, 9)

In [16]:
# Check for invalid salaries, show with jobid

zero_salary = train_salariesDF['salary']<=0
invalid_salary = train_salariesDF[zero_salary]

invalid_salary

                   jobId  salary
30559   JOB1362684438246       0
495984  JOB1362684903671       0
652076  JOB1362685059763       0
816129  JOB1362685223816       0
828156  JOB1362685235843       0

In [18]:
# Remove invalid salaries since there are only 5/1,000,000

train_data_merged = train_data_merged.drop(invalid_salary.index.tolist())

print(train_data_merged)

                   jobId  salary companyId         jobType       degree  \
0       JOB1362684407687     130    COMP37             CFO      MASTERS
1       JOB1362684407688     101    COMP19             CEO  HIGH_SCHOOL
2       JOB1362684407689     137    COMP52  VICE_PRESIDENT     DOCTORAL
3       JOB1362684407690     142    COMP38         MANAGER     DOCTORAL
4       JOB1362684407691     163     COMP7  VICE_PRESIDENT    BACHELORS
5       JOB1362684407692     113    COMP15         MANAGER     DOCTORAL
6       JOB1362684407693     178    COMP15             CFO         NONE
7       JOB1362684407694      73    COMP24          JUNIOR    BACHELORS
8       JOB1362684407695      31    COMP20         JANITOR  HIGH_SCHOOL
9       JOB1362684407696     104    COMP41  VICE_PRESIDENT    BACHELORS
10      JOB1362684407697     102    COMP56         JANITOR  HIGH_SCHOOL
11      JOB1362684407698     144     COMP7             CEO      MASTERS
12      JOB1362684407699      79     COMP4          JUNIOR         NONE
13      JOB1362684407700     193    COMP54          JUNIOR      MASTERS
14      JOB1362684407701      47    COMP57         JANITOR         NONE
15      JOB1362684407702     172    COMP20             CTO      MASTERS
16      JOB1362684407703      47    COMP14          JUNIOR      MASTERS
17      JOB1362684407704     126    COMP61  VICE_PRESIDENT      MASTERS
18      JOB1362684407705     122    COMP58             CEO      MASTERS
19      JOB1362684407706      95     COMP3             CEO      MASTERS
20      JOB1362684407707      32    COMP44         JANITOR         NONE
21      JOB1362684407708      68    COMP20          JUNIOR         NONE
22      JOB1362684407709     105    COMP30          JUNIOR    BACHELORS
23      JOB1362684407710      76    COMP38          JUNIOR         NONE
24      JOB1362684407711     202    COMP20             CEO    BACHELORS
25      JOB1362684407712     131    COMP27             CFO    BACHELORS
26      JOB1362684407713     158    COMP38             CEO    BACHELORS
27      JOB1362684407714     130    COMP34             CTO      MASTERS
28      JOB1362684407715     101    COMP11         JANITOR  HIGH_SCHOOL
29      JOB1362684407716      82    COMP31          SENIOR     DOCTORAL
...                  ...     ...       ...             ...          ...
999970  JOB1362685407657     216    COMP11          SENIOR     DOCTORAL
999971  JOB1362685407658     115    COMP62         MANAGER         NONE
999972  JOB1362685407659      56    COMP33          JUNIOR         NONE
999973  JOB1362685407660     117    COMP58         MANAGER     DOCTORAL
999974  JOB1362685407661     131     COMP7         MANAGER     DOCTORAL
999975  JOB1362685407662      97    COMP45          JUNIOR  HIGH_SCHOOL
999976  JOB1362685407663     112    COMP61  VICE_PRESIDENT      MASTERS
999977  JOB1362685407664     142    COMP28             CFO         NONE
999978  JOB1362685407665      93    COMP53  VICE_PRESIDENT         NONE
999979  JOB1362685407666     181    COMP11             CFO    BACHELORS
999980  JOB1362685407667      84    COMP41             CTO      MASTERS
999981  JOB1362685407668     132    COMP47             CEO      MASTERS
999982  JOB1362685407669     113    COMP41          JUNIOR     DOCTORAL
999983  JOB1362685407670     122    COMP43             CTO      MASTERS
999984  JOB1362685407671     110     COMP1             CTO         NONE
999985  JOB1362685407672     147    COMP62             CEO         NONE
999986  JOB1362685407673     117    COMP22  VICE_PRESIDENT  HIGH_SCHOOL
999987  JOB1362685407674     124    COMP51             CFO      MASTERS
999988  JOB1362685407675      79     COMP6          JUNIOR     DOCTORAL
999989  JOB1362685407676      72     COMP2  VICE_PRESIDENT  HIGH_SCHOOL
999990  JOB1362685407677      89    COMP39         JANITOR  HIGH_SCHOOL
999991  JOB1362685407678     139    COMP22  VICE_PRESIDENT         NONE
999992  JOB1362685407679     143    COMP30         MANAGER     DOCTORAL
999993  JOB1362685407680     136    COMP21             CFO      MASTERS
999994  JOB1362685407681     115    COMP40             CFO    BACHELORS
999995  JOB1362685407682      88    COMP56  VICE_PRESIDENT    BACHELORS
999996  JOB1362685407683     160    COMP24             CTO  HIGH_SCHOOL
999997  JOB1362685407684      64    COMP23          JUNIOR  HIGH_SCHOOL
999998  JOB1362685407685     149     COMP3             CFO      MASTERS
999999  JOB1362685407686      88    COMP59          JUNIOR    BACHELORS

              major   industry  yearsExperience  milesFromMetropolis
0              MATH     HEALTH               10                   83
1              NONE        WEB                3                   73
2           PHYSICS     HEALTH               10                   38
3         CHEMISTRY       AUTO                8                   17
4           PHYSICS    FINANCE                8                   16
5           COMPSCI    FINANCE                2                   31
6              NONE     HEALTH               23                   24
7         CHEMISTRY  EDUCATION                9                   70
8              NONE  EDUCATION                1                   54
9         CHEMISTRY       AUTO               17                   68
10             NONE     HEALTH               24                   30
11          PHYSICS  EDUCATION                7                   79
12             NONE        OIL                8                   29
13             MATH    FINANCE               21                   26
14             NONE       AUTO               21                   81
15          BIOLOGY    SERVICE               13                    8
16          PHYSICS    SERVICE                1                   91
17       LITERATURE    SERVICE               23                   43
18       LITERATURE    SERVICE               23                   66
19          PHYSICS  EDUCATION                9                   99
20             NONE    SERVICE               11                   96
21             NONE       AUTO               14                   62
22       LITERATURE     HEALTH               18                   69
23             NONE     HEALTH               20                   63
24             NONE        WEB               12                    8
25        CHEMISTRY       AUTO                9                   70
26          COMPSCI       AUTO               24                   40
27         BUSINESS       AUTO                9                    6
28             NONE    FINANCE               20                   23
29         BUSINESS  EDUCATION                1                    9
...             ...        ...              ...                  ...
999970         MATH    FINANCE               23                    6
999971         NONE    SERVICE               20                   19
999972         NONE  EDUCATION               23                   84
999973   LITERATURE    SERVICE                3                   51
999974         MATH        WEB                6                   83
999975         NONE        OIL                9                   71
999976   LITERATURE    SERVICE               18                   72
999977         NONE     HEALTH               12                   46
999978         NONE    SERVICE               18                   94
999979  ENGINEERING        WEB               24                   82
999980      BIOLOGY    FINANCE                2                   71
999981      PHYSICS        WEB                2                   13
999982  ENGINEERING       AUTO               24                   49
999983   LITERATURE       AUTO               18                   52
999984         NONE    SERVICE                6                   20
999985         NONE       AUTO                5                   13
999986         NONE       AUTO               17                   14
999987         NONE    FINANCE                1                   99
999988     BUSINESS     HEALTH                4                   70
999989         NONE  EDUCATION               15                   89
999990         NONE  EDUCATION               17                   23
999991         NONE        WEB               22                   48
999992      PHYSICS        WEB               16                   16
999993    CHEMISTRY    SERVICE                4                    6
999994      COMPSCI  EDUCATION               18                   77
999995    CHEMISTRY     HEALTH               19                   94
999996         NONE    FINANCE               12                   35
999997         NONE  EDUCATION               16                   81
999998         NONE     HEALTH                6                    5
999999         NONE  EDUCATION               20                   11

[999995 rows x 9 columns]

In [19]:
# reset index, because we droped 5 rows
train_data_merged.reset_index(drop=True, inplace=True)

In [20]:
# Check last 5 rows
train_data_merged.tail()

,jobId,salary,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis
999990,JOB1362685407682,88,COMP56,VICE_PRESIDENT,BACHELORS,CHEMISTRY,HEALTH,19,94
999991,JOB1362685407683,160,COMP24,CTO,HIGH_SCHOOL,NONE,FINANCE,12,35
999992,JOB1362685407684,64,COMP23,JUNIOR,HIGH_SCHOOL,NONE,EDUCATION,16,81
999993,JOB1362685407685,149,COMP3,CFO,MASTERS,NONE,HEALTH,6,5
999994,JOB1362685407686,88,COMP59,JUNIOR,BACHELORS,NONE,EDUCATION,20,11

In [21]:
# Check data types
train_data_merged.dtypes

jobId                  object
salary                  int64
companyId              object
jobType                object
degree                 object
major                  object
industry               object
yearsExperience         int64
milesFromMetropolis     int64
dtype: object

### ---- 4 Explore the data (EDA) ----

In [3]:
#summarize each feature variable
#summarize the target variable
#look for correlation between each feature and the target
#look for correlation between features

### ---- 5 Establish a baseline ----

In [5]:
#select a reasonable metric (MSE in this case)
#create an extremely simple model and measure its efficacy
#e.g. use "average salary" for each industry as your model and then measure MSE
#during 5-fold cross-validation

### ---- 6 Hypothesize solution ----

In [ ]:
#brainstorm 3 models that you think may improve results over the baseline model based
#on your

Brainstorm 3 models that you think may improve results over the baseline model based on your EDA and explain why they're reasonable solutions here.

Also write down any new features that you think you should try adding to the model based on your EDA, e.g. interaction variables, summary statistics for each group, etc

## Part 3 - DEVELOP

You will cycle through creating features, tuning models, and training/validing models (steps 7-9) until you've reached your efficacy goal

#### Your metric will be MSE and your goal is:
 - <360 for entry-level data science roles
 - <320 for senior data science roles

### ---- 7 Engineer features  ----

In [ ]:
#make sure that data is ready for modeling
#create any new features needed to potentially enhance model

### ---- 8 Create models ----

In [15]:
#create and tune the models that you brainstormed during part 2

### ---- 9 Test models ----

In [1]:
#do 5-fold cross validation on models and measure MSE

### ---- 10 Select best model  ----

In [ ]:
#select the model with the lowest error as your "prodcuction" model

## Part 4 - DEPLOY

### ---- 11 Automate pipeline ----

In [ ]:
#write script that trains model on entire training set, saves model to disk,
#and scores the "test" dataset

### ---- 12 Deploy solution ----

In [16]:
#save your prediction to a csv file or optionally save them as a table in a SQL database
#additionally, you want to save a visualization and summary of your prediction and feature importances
#these visualizations and summaries will be extremely useful to business stakeholders

### ---- 13 Measure efficacy ----

We'll skip this step since we don't have the outcomes for the test data